@model List<KLTN.ViewModels.ManageChatViewModel>

<head>
    <link rel="stylesheet" href="~/css/iziToast.css">
    <link rel="stylesheet" href="~/css/Admin/responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <link rel="stylesheet" href="~/css/Admin/account.css">
</head>

<body>
    <h3 class="text-center mt-3">Quản lý chat</h3>

    <div class="row mb-3 mt-3">
        <div class="col-12 col-md-4">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
                <input type="text" id="searchInput" class="form-control" placeholder="Tìm kiếm đoạn chat...">
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tên hội thoại</th>
                <th>Nội dung</th>
                @* <th>Hành động</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var chat in Model)
            {
                <tr>
                    <td>@chat.ConversationName</td>

                    <td>
                        <div style="max-height: 100px; overflow-y: auto; border: 1px solid #ccc; padding: 5px;">
                            <ul class="list-unstyled">
                                @foreach (var msg in chat.Content)
                                {
                                    <li>
                                        <strong>@msg.Sender:</strong> @msg.Content
                                        <span class="text-muted" style="font-size: 12px;">(@msg.Timestamp)</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        // Tìm kiếm 
        $("#searchInput").on("keyup", function () {
            const value = $(this).val().toLowerCase();
            $("table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    </script>
</body>