@{
    ViewData["Title"] = "Đăng nhập";
}
<head>
    <link rel="stylesheet" href="~/css/Account/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/iziToast.css" />
    <script src="~/js/eye.js"></script>
</head>

<body>
    <div class="login-wrapper">
        <div class="login-illustration">
            <img src="~/img/login.jpg" alt="Login Illustration" />
        </div>

        <div class="login-form-container">
            <h1 class="login-title">CHÀO MỪNG BẠN ĐẾN VỚI TIMTRODE</h1>

            <form method="post" asp-action="Login" class="login-form">
                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

                <div class="form-group">
                    <label for="userName">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="userName" name="userName" required
                           placeholder="Nhập tên đăng nhập" />
                </div>

                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password" required
                               placeholder="Nhập mật khẩu" />
                        <button type="button" class="btn-outline-secondary toggle-password" data-target="password">
                            <i class="fa-regular fa-eye"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </div>

                <p class="text-center mt-2">
                    <a asp-action="ForgotPassword" style ="color:#0140A0;">Quên mật khẩu?</a>
                </p>

                <p class="text-center mt-3" style="font-style">
                    Bạn chưa có tài khoản? <a asp-action="Register">Đăng ký ngay!</a>
                </p>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />

    <script>
        $(document).ready(function () {
            var errorMessage = '@Html.Raw(ViewBag.Error)';
            if (errorMessage) {
                iziToast.error({
                    title: 'Lỗi đăng nhập',
                    message: errorMessage,
                    position: 'topRight',
                    timeout: 1500
                });
            }
        });
    </script>
}
