h2,
h3 {
  color: #333;
  margin-top: 7px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.user-houses-page {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Styling cho thông báo không có bài đăng */
.no-posts-message {
  text-align: center;
  font-size: 18px;
  color: #555;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
  max-width: 500px;
  margin-bottom: 250px;
  margin-left: auto;
  margin-right: auto;
}

td:first-child {
  white-space: normal; /* Cho phép xuống dòng */
  word-break: break-word; /* Nếu từ quá dài thì cắt từ */
  max-width: 250px; /* Giới hạn chiều rộng tối đa */
}

/* Định dạng khác cho phần container */
.container {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  user-houses-page .action-buttons {
    justify-content: center;
  }

  .user-houses-page .action-buttons .btn {
    flex: 1 0 45%;
    max-width: 48%;
  }

  button {
    padding: 6px 10px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  user-houses-page .action-buttons {
    justify-content: center;
  }

  .user-houses-page .action-buttons .btn {
    flex: 1 0 45%;
    max-width: 48%;
  }
  
  .btn {
    display: block;
    width: 100%;
    margin: 5px 0;
  }

  .iziToast {
    width: 80% !important; /* Làm iziToast nhỏ lại trên mobile */
    font-size: 14px !important; /* Giảm kích thước chữ */
    padding: 10px !important; /* Thu gọn padding */
    left: 40% !important; /* Canh giữa màn hình */
    transform: translateX(-50%) !important;
  }
}
